<body class="scroll">
    <section class="login-container">
        <form class="form-container" onsubmit="submitForm(); return false;">
            <h2 class="form-title">Resetear Contraseña</h2>
            <input type="email" class="form-input" placeholder="Correo Electrónico" name="email" id="email" required>
            <input type="password" class="form-input" placeholder="Nueva Contraseña" name="new-password" id="new-password" required>
            <div class="register-link">
                <p>¿No tienes una cuenta? <a href="#" class="register-link">Regístrate</a></p>
            </div>
            <button type="submit" class="form-submit">Resetear Contraseña</button>
        </form>
    </section>
    <footer class="login-footer">
        <p> En proceso</p>
    </footer>
</body>

