<body class="scroll">
    <div class="order-confirmation">
        <h1 class="order-heading">¡Compra exitosa, {{user.first_name}}!</h1>
        <p class="order-details">Su número de orden: <span class="order-number">{{orderNumber}}</span></p>
        <p class="order-details">Total de compra: <span class="order-total">$ {{total}}</span></p>
        <p class="order-message">¡Gracias por confiar en nosotros! Le informaremos cuando sus productos estén listos para el envío.</p>
    </div>
    <footer class="footer">
        <p> En proceso</p>
    </footer>
</body>
